<?xml version="1.0"?>
<robot name="assembled_robot">
  <link name="structural_baseplate_1">
    <inertial>
      <mass value="0.4500"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.000845" iyy="0.001501" izz="0.002344" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.200000 0.150000 0.005000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.816 0.816 0.816 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="-0.070000 -0.052500 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.006000" length="0.005050"/>
      </geometry>
      <material name="comp_mat_1">
        <color rgba="0.408 0.408 0.408 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.070000 -0.052500 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.006000" length="0.005050"/>
      </geometry>
      <material name="comp_mat_2">
        <color rgba="0.408 0.408 0.408 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="-0.070000 0.052500 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.006000" length="0.005050"/>
      </geometry>
      <material name="comp_mat_3">
        <color rgba="0.408 0.408 0.408 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.070000 0.052500 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.006000" length="0.005050"/>
      </geometry>
      <material name="comp_mat_4">
        <color rgba="0.408 0.408 0.408 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.200000 0.150000 0.005000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.070000 -0.052500 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.006000" length="0.005050"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.070000 -0.052500 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.006000" length="0.005050"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.070000 0.052500 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.006000" length="0.005050"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.070000 0.052500 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.006000" length="0.005050"/>
      </geometry>
    </collision>
  </link>
  <link name="structural_servo_coupler_disc_2">
    <inertial>
      <mass value="0.0150"/>
      <inertia ixx="0.000001" iyy="0.000001" izz="0.000002" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.016000" length="0.008000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.753 0.753 0.753 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.016000" length="0.008000"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_structural_servo_coupler_disc_2" type="fixed">
    <parent link="structural_baseplate_1"/>
    <child link="structural_servo_coupler_disc_2"/>
    <origin xyz="0.0700 0.0525 -0.0065" rpy="0.0000 0.0000 0.0000"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="motor_gear_medium_37mm_3">
    <inertial>
      <mass value="0.1800"/>
      <inertia ixx="0.000089" iyy="0.000089" izz="0.000031" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 -0.014000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.018500" length="0.070000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.533 0.533 0.533 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.035000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.025900 0.025900 0.028000"/>
      </geometry>
      <material name="comp_mat_1">
        <color rgba="0.400 0.400 0.400 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.056000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.002590" length="0.014000"/>
      </geometry>
      <material name="comp_mat_2">
        <color rgba="0.267 0.267 0.267 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 -0.014000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.018500" length="0.070000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.035000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.025900 0.025900 0.028000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.056000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.002590" length="0.014000"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_motor_gear_medium_37mm_3" type="revolute">
    <parent link="structural_servo_coupler_disc_2"/>
    <child link="motor_gear_medium_37mm_3"/>
    <origin xyz="0.0000 0.0000 -0.0390" rpy="0.0000 0.0000 0.0000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="3.14"/>
  </joint>
  <link name="structural_servo_coupler_disc_4">
    <inertial>
      <mass value="0.0150"/>
      <inertia ixx="0.000001" iyy="0.000001" izz="0.000002" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.016000" length="0.008000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.753 0.753 0.753 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.016000" length="0.008000"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_structural_servo_coupler_disc_4" type="fixed">
    <parent link="structural_baseplate_1"/>
    <child link="structural_servo_coupler_disc_4"/>
    <origin xyz="-0.0700 0.0525 -0.0065" rpy="0.0000 0.0000 0.0000"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="motor_gear_medium_37mm_5">
    <inertial>
      <mass value="0.1800"/>
      <inertia ixx="0.000089" iyy="0.000089" izz="0.000031" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 -0.014000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.018500" length="0.070000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.533 0.533 0.533 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.035000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.025900 0.025900 0.028000"/>
      </geometry>
      <material name="comp_mat_1">
        <color rgba="0.400 0.400 0.400 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.056000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.002590" length="0.014000"/>
      </geometry>
      <material name="comp_mat_2">
        <color rgba="0.267 0.267 0.267 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 -0.014000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.018500" length="0.070000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.035000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.025900 0.025900 0.028000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.056000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.002590" length="0.014000"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_motor_gear_medium_37mm_5" type="revolute">
    <parent link="structural_servo_coupler_disc_4"/>
    <child link="motor_gear_medium_37mm_5"/>
    <origin xyz="0.0000 0.0000 -0.0390" rpy="0.0000 0.0000 0.0000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="3.14"/>
  </joint>
  <link name="structural_servo_coupler_disc_6">
    <inertial>
      <mass value="0.0150"/>
      <inertia ixx="0.000001" iyy="0.000001" izz="0.000002" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.016000" length="0.008000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.753 0.753 0.753 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.016000" length="0.008000"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_structural_servo_coupler_disc_6" type="fixed">
    <parent link="structural_baseplate_1"/>
    <child link="structural_servo_coupler_disc_6"/>
    <origin xyz="0.0700 -0.0525 -0.0065" rpy="0.0000 0.0000 0.0000"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="motor_gear_medium_37mm_7">
    <inertial>
      <mass value="0.1800"/>
      <inertia ixx="0.000089" iyy="0.000089" izz="0.000031" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 -0.014000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.018500" length="0.070000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.533 0.533 0.533 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.035000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.025900 0.025900 0.028000"/>
      </geometry>
      <material name="comp_mat_1">
        <color rgba="0.400 0.400 0.400 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.056000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.002590" length="0.014000"/>
      </geometry>
      <material name="comp_mat_2">
        <color rgba="0.267 0.267 0.267 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 -0.014000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.018500" length="0.070000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.035000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.025900 0.025900 0.028000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.056000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.002590" length="0.014000"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_motor_gear_medium_37mm_7" type="revolute">
    <parent link="structural_servo_coupler_disc_6"/>
    <child link="motor_gear_medium_37mm_7"/>
    <origin xyz="0.0000 0.0000 -0.0390" rpy="0.0000 0.0000 0.0000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="3.14"/>
  </joint>
  <link name="structural_servo_coupler_disc_8">
    <inertial>
      <mass value="0.0150"/>
      <inertia ixx="0.000001" iyy="0.000001" izz="0.000002" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.016000" length="0.008000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.753 0.753 0.753 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.016000" length="0.008000"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_structural_servo_coupler_disc_8" type="fixed">
    <parent link="structural_baseplate_1"/>
    <child link="structural_servo_coupler_disc_8"/>
    <origin xyz="-0.0700 -0.0525 -0.0065" rpy="0.0000 0.0000 0.0000"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="motor_gear_medium_37mm_9">
    <inertial>
      <mass value="0.1800"/>
      <inertia ixx="0.000089" iyy="0.000089" izz="0.000031" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 -0.014000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.018500" length="0.070000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.533 0.533 0.533 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.035000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.025900 0.025900 0.028000"/>
      </geometry>
      <material name="comp_mat_1">
        <color rgba="0.400 0.400 0.400 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.056000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.002590" length="0.014000"/>
      </geometry>
      <material name="comp_mat_2">
        <color rgba="0.267 0.267 0.267 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 -0.014000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.018500" length="0.070000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.035000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.025900 0.025900 0.028000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.056000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.002590" length="0.014000"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_motor_gear_medium_37mm_9" type="revolute">
    <parent link="structural_servo_coupler_disc_8"/>
    <child link="motor_gear_medium_37mm_9"/>
    <origin xyz="0.0000 0.0000 -0.0390" rpy="0.0000 0.0000 0.0000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="3.14"/>
  </joint>
  <link name="mobility_wheel_driven_10">
    <inertial>
      <mass value="0.1200"/>
      <inertia ixx="0.000084" iyy="0.000084" izz="0.000150" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.050000" length="0.030000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.102 0.102 0.102 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.017500" length="0.031500"/>
      </geometry>
      <material name="comp_mat_1">
        <color rgba="0.076 0.076 0.076 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.004000" length="0.033000"/>
      </geometry>
      <material name="comp_mat_2">
        <color rgba="0.100 0.100 0.100 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.050000" length="0.030000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.017500" length="0.031500"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.004000" length="0.033000"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_mobility_wheel_driven_10" type="fixed">
    <parent link="motor_gear_medium_37mm_3"/>
    <child link="mobility_wheel_driven_10"/>
    <origin xyz="0.0000 0.0000 -0.0850" rpy="-1.5708 0.0000 0.0000"/>
    <axis xyz="0 1 0"/>
  </joint>
  <link name="mobility_wheel_driven_11">
    <inertial>
      <mass value="0.1200"/>
      <inertia ixx="0.000084" iyy="0.000084" izz="0.000150" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.050000" length="0.030000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.102 0.102 0.102 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.017500" length="0.031500"/>
      </geometry>
      <material name="comp_mat_1">
        <color rgba="0.076 0.076 0.076 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.004000" length="0.033000"/>
      </geometry>
      <material name="comp_mat_2">
        <color rgba="0.100 0.100 0.100 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.050000" length="0.030000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.017500" length="0.031500"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.004000" length="0.033000"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_mobility_wheel_driven_11" type="fixed">
    <parent link="motor_gear_medium_37mm_5"/>
    <child link="mobility_wheel_driven_11"/>
    <origin xyz="0.0000 0.0000 -0.0850" rpy="-1.5708 0.0000 0.0000"/>
    <axis xyz="0 1 0"/>
  </joint>
  <link name="mobility_wheel_driven_12">
    <inertial>
      <mass value="0.1200"/>
      <inertia ixx="0.000084" iyy="0.000084" izz="0.000150" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.050000" length="0.030000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.102 0.102 0.102 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.017500" length="0.031500"/>
      </geometry>
      <material name="comp_mat_1">
        <color rgba="0.076 0.076 0.076 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.004000" length="0.033000"/>
      </geometry>
      <material name="comp_mat_2">
        <color rgba="0.100 0.100 0.100 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.050000" length="0.030000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.017500" length="0.031500"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.004000" length="0.033000"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_mobility_wheel_driven_12" type="fixed">
    <parent link="motor_gear_medium_37mm_7"/>
    <child link="mobility_wheel_driven_12"/>
    <origin xyz="0.0000 0.0000 -0.0850" rpy="-1.5708 0.0000 0.0000"/>
    <axis xyz="0 1 0"/>
  </joint>
  <link name="mobility_wheel_driven_13">
    <inertial>
      <mass value="0.1200"/>
      <inertia ixx="0.000084" iyy="0.000084" izz="0.000150" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.050000" length="0.030000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.102 0.102 0.102 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.017500" length="0.031500"/>
      </geometry>
      <material name="comp_mat_1">
        <color rgba="0.076 0.076 0.076 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.004000" length="0.033000"/>
      </geometry>
      <material name="comp_mat_2">
        <color rgba="0.100 0.100 0.100 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.050000" length="0.030000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.017500" length="0.031500"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.004000" length="0.033000"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_mobility_wheel_driven_13" type="fixed">
    <parent link="motor_gear_medium_37mm_9"/>
    <child link="mobility_wheel_driven_13"/>
    <origin xyz="0.0000 0.0000 -0.0850" rpy="-1.5708 0.0000 0.0000"/>
    <axis xyz="0 1 0"/>
  </joint>
  <link name="power_lipo_3s_2200_14">
    <inertial>
      <mass value="0.1850"/>
      <inertia ixx="0.000027" iyy="0.000179" izz="0.000188" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.105000 0.034000 0.024000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.102 0.251 0.502 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.012000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.084000 0.020400 0.000480"/>
      </geometry>
      <material name="comp_mat_1">
        <color rgba="0.076 0.188 0.376 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.036750 -0.011900 0.012000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.021000 0.005100 0.001920"/>
      </geometry>
      <material name="comp_mat_2">
        <color rgba="0.800 0.100 0.100 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="-0.026250 -0.011900 0.012000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.012600 0.002720 0.001440"/>
      </geometry>
      <material name="comp_mat_3">
        <color rgba="1.000 1.000 1.000 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.105000 0.034000 0.024000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.012000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.084000 0.020400 0.000480"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.036750 -0.011900 0.012000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.021000 0.005100 0.001920"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.026250 -0.011900 0.012000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.012600 0.002720 0.001440"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_power_lipo_3s_2200_14" type="fixed">
    <parent link="structural_baseplate_1"/>
    <child link="power_lipo_3s_2200_14"/>
    <origin xyz="0.0700 0.0525 0.0145" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="compute_motor_driver_dual_15">
    <inertial>
      <mass value="0.0280"/>
      <inertia ixx="0.000005" iyy="0.000005" izz="0.000009" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.043000 0.043000 0.015000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.100 0.350 0.100 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.010500" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.017200 0.017200 0.006000"/>
      </geometry>
      <material name="comp_mat_1">
        <color rgba="0.208 0.051 0.051 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.012900 -0.015050 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.010750 0.006450 0.007500"/>
      </geometry>
      <material name="comp_mat_2">
        <color rgba="0.416 0.102 0.102 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.043000 0.043000 0.015000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.010500" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.017200 0.017200 0.006000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.012900 -0.015050 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.010750 0.006450 0.007500"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_compute_motor_driver_dual_15" type="fixed">
    <parent link="structural_baseplate_1"/>
    <child link="compute_motor_driver_dual_15"/>
    <origin xyz="-0.0700 0.0525 0.0100" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="compute_mcu_small_16">
    <inertial>
      <mass value="0.0100"/>
      <inertia ixx="0.000000" iyy="0.000002" izz="0.000003" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.051000 0.021000 0.001500"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.100 0.350 0.100 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.023460 -0.005250 0.000250" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.004080 0.002520 0.001750"/>
      </geometry>
      <material name="comp_mat_1">
        <color rgba="0.000 0.200 0.300 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.023460 -0.001050 0.000250" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.004080 0.002520 0.001750"/>
      </geometry>
      <material name="comp_mat_2">
        <color rgba="0.000 0.200 0.300 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.023460 0.004200 0.000250" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.004080 0.003150 0.002000"/>
      </geometry>
      <material name="comp_mat_3">
        <color rgba="0.000 0.200 0.300 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.008400 0.000750" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.033150 0.000840 0.001250"/>
      </geometry>
      <material name="comp_mat_4">
        <color rgba="0.000 0.400 0.600 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.051000 0.021000 0.001500"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.023460 -0.005250 0.000250" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.004080 0.002520 0.001750"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.023460 -0.001050 0.000250" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.004080 0.002520 0.001750"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.023460 0.004200 0.000250" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.004080 0.003150 0.002000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.008400 0.000750" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.033150 0.000840 0.001250"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_compute_mcu_small_16" type="fixed">
    <parent link="structural_baseplate_1"/>
    <child link="compute_mcu_small_16"/>
    <origin xyz="0.0700 -0.0525 0.0050" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="sensor_imu_6dof_17">
    <inertial>
      <mass value="0.0030"/>
      <inertia ixx="0.000000" iyy="0.000000" izz="0.000000" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.016000 0.016000 0.003000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.100 0.350 0.100 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.002100" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.006400 0.006400 0.001200"/>
      </geometry>
      <material name="comp_mat_1">
        <color rgba="0.220 0.094 0.314 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.004800 -0.005600 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.004000 0.002400 0.001500"/>
      </geometry>
      <material name="comp_mat_2">
        <color rgba="0.439 0.188 0.627 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.016000 0.016000 0.003000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.002100" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.006400 0.006400 0.001200"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.004800 -0.005600 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.004000 0.002400 0.001500"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sensor_imu_6dof_17" type="fixed">
    <parent link="structural_baseplate_1"/>
    <child link="sensor_imu_6dof_17"/>
    <origin xyz="-0.0700 -0.0525 0.0040" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="structural_bracket_l_18">
    <inertial>
      <mass value="0.0350"/>
      <inertia ixx="0.000009" iyy="0.000009" izz="0.000009" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.040000 0.003200 0.040000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.690 0.690 0.690 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="-0.018400 0.018400 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.003200 0.040000 0.040000"/>
      </geometry>
      <material name="comp_mat_1">
        <color rgba="0.518 0.518 0.518 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.040000 0.003200 0.040000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.018400 0.018400 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.003200 0.040000 0.040000"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_structural_bracket_l_18" type="fixed">
    <parent link="structural_baseplate_1"/>
    <child link="structural_bracket_l_18"/>
    <origin xyz="0.1200 0.0000 0.0000" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="sensor_depth_camera_small_19">
    <inertial>
      <mass value="0.0720"/>
      <inertia ixx="0.000008" iyy="0.000052" izz="0.000052" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.090000 0.025000 0.025000"/>
      </geometry>
      <material name="comp_mat_0">
        <color rgba="0.376 0.439 0.565 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="-0.025200 0.000000 0.012500" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.006250" length="0.002000"/>
      </geometry>
      <material name="comp_mat_1">
        <color rgba="0.188 0.220 0.282 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.025200 0.000000 0.012500" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.006250" length="0.002000"/>
      </geometry>
      <material name="comp_mat_2">
        <color rgba="0.188 0.220 0.282 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.000000 0.012500" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.003125" length="0.002000"/>
      </geometry>
      <material name="comp_mat_3">
        <color rgba="0.188 0.220 0.282 1.000"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 -0.015000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.013500 0.007500 0.007500"/>
      </geometry>
      <material name="comp_mat_4">
        <color rgba="0.282 0.329 0.424 1.000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.090000 0.025000 0.025000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.025200 0.000000 0.012500" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.006250" length="0.002000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.025200 0.000000 0.012500" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.006250" length="0.002000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 0.000000 0.012500" rpy="1.570796 0.000000 0.000000"/>
      <geometry>
        <cylinder radius="0.003125" length="0.002000"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.000000 -0.015000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.013500 0.007500 0.007500"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sensor_depth_camera_small_19" type="fixed">
    <parent link="structural_bracket_l_18"/>
    <child link="sensor_depth_camera_small_19"/>
    <origin xyz="0.0650 0.0000 -0.0035" rpy="0 0.1745 0"/>
    <axis xyz="0 0 1"/>
  </joint>
</robot>